<md-toolbar >
  <div class="md-toolbar-tools">
    <h2>
      <span>Keymaker</span>
    </h2>
    <span flex></span>
    <!-- TODO: Create dropdown for following-->
    <md-button class="md-icon-button" aria-label="help">
      <md-icon md-svg-icon="assets/images/help.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="phone">
      <md-icon md-svg-icon="assets/images/phone.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="email">
      <md-icon md-svg-icon="assets/images/email.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>
