<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <span>Life calendar</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="upload" ng-click="vm.upload()">
      <i class="material-icons">cloud_upload</i>
    </md-button>
    <div class="life-calendar__navbar__download">
      <md-button class="md-icon-button" aria-label="download" ng-click="vm.download()">
        <i class="material-icons">file_download</i>
      </md-button>
    </div>
    <md-button class="md-icon-button" aria-label="email">
      <md-icon md-svg-icon="assets/images/email.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>
