<div layout="column" layout-fill>

  <header ng-include="'app/components/navbar/navbar.html'"></header>

  <md-content>

    <md-card layout layout-sm="column" layout-padding>
      <h2>How do I get a key?</h2>
      <p>
        Fill out some quick details, and request yourself an API key!
      </p>
    </md-card>

    <md-card layout-padding>
      <div ng-controller="FormCtrl" >
      <h2> Request a Key </h2>
        <form name="userForm" >

          <div layout layout-sm="column">
            <md-input-container flex>
              <label>First name</label>
              <input ng-model="user.firstName">
            </md-input-container>
            <md-input-container flex>
              <label>Last Name</label>
              <input ng-model="user.lastName">
            </md-input-container>
          </div>

          <md-input-container flex>
            <label>Company</label>
            <input ng-model="user.company">
          </md-input-container>

          <md-input-container flex>
            <label>Phone</label>
            <input ng-model="user.phone">
          </md-input-container>

          <section layout="row" layout-sm="column" >
            <md-button class="md-raised md-primary">Request Key</md-button>
          </section>
        </form>
      </div>
    </md-card>


    <md-card layout layout-sm="column" layout-padding>
      <h2>Keymaker</h2>
      <p class="lead">
        <img src="assets/images/keymaker.jpg" class="cardnail"><br>
        We do only what we're meant to do.
      </p>
    </md-card>


    <footer>
      <md-toolbar layout="row" layout-align="center center">
        <p>With ♥ from doc</p>
      </md-toolbar>
    </footer>
  </md-content>

</div>
