<md-dialog aria-label="Mango (Fruit)">

  <md-content class="md-padding dialog__content">

    <div layout="column" layout-align="center end" class="dialog__icon--div" flex>
      <md-button layout-align="end start" ng-click="vm.hide('close_msg')" class="dialog__icon--close">
        <i class="material-icons">close</i>
      </md-button>
    </div>
    <form name="userForm">

      <md-input-container layout="column" class="dialog__content__textarea">
        <label>Goal</label>
        <textarea ng-model="vm.yeardata" rows="2" md-maxlength="50" maxlength="50"></textarea>
      </md-input-container>

      <md-input-container layout="column" class="dialog__content__input">

        <md-fab-speed-dial md-direction="right" md-open="vm.isOpen"
                           class="md-scale" ng-mouseenter="vm.isOpen=true" ng-mouseleave="vm.isOpen=false">
          <md-fab-trigger>
            <md-button aria-label="menu" class="dialog__fab--button">
              <i class="material-icons dialog__fab--icon"
                 ng-class="{dialogFabIconRed:vm.categoryColor==='red', dialogFabIconBlue:vm.categoryColor==='blue',
                  dialogFabIconGreen:vm.categoryColor==='green', dialogFabIconPink:vm.categoryColor==='pink',
                   dialogFabIconOrange:vm.categoryColor==='orange'}">
                send
              </i>
            </md-button>
          </md-fab-trigger>

          <md-fab-actions>
            <div ng-repeat="item in vm.items">
              <md-button aria-label="{{item.name}}" ng-click="vm.setColor(item.color, item.name)" class="dialog__fab--button" >
                <i class="material-icons dialog__fab--icon" ng-style="{'color': '{{item.color}}'}">opacity</i>
                <md-tooltip ng-if="item.name" md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
                  {{item.name}}
                </md-tooltip>
              </md-button>
            </div>
          </md-fab-actions>

        </md-fab-speed-dial>

      </md-input-container>


      <div layout="row" class="dialog__content__inputFields">
        <md-input-container flex="35" class="dialog__content__range">
          <label>Years' range</label>
          <input name="social" ng-model="vm.dialogRange" ng-pattern="/^[1-9][0-9]-[0-9]{2}|[1-9]-[0-9]{2}|[1-9]-[2-9]$/" />
          <div class="hint" ng-if="showHints">xX-xX</div>
          <div  ng-messages="userForm.social.$error" ng-if="!showHints">
            <div class="dialog__content__range--hint" ng-message="pattern">xX-xX - Please enter a valid range.</div>
          </div>
        </md-input-container>
        <md-input-container class="dialog__content__input">
          <label>Category name</label>
          <input aria-label=" " flex="70" flex-order="1" ng-model="vm.categoryName">
          <span aria-label=" " flex="30" flex-order="2"></span>
        </md-input-container>
      </div>


    </form>
  </md-content>


  <md-dialog-actions layout-align="end end">
    <md-button ng-click="vm.save(vm.yeardata, vm.categoryName, vm.categoryColor)" class="md-primary">Save</md-button>
  </md-dialog-actions>

</md-dialog>
