<header ng-include="'app/components/navbar/navbar.html'"></header>

<div layout="column" layout-fill layout-align="center center" class="layoutdiv">


  <div layout layout-align="center center" class="maindiv">
    <div layout="column" layout-margin layout-align="center center">
      <div layout-fill ng-repeat="i in vm.test track by $index" layout="row" ng-if="!(($index ) % 10)">
        <md-button layout-fill class="md-raised maindiv__button"><md-tooltip md-direction="top" md-delay="5"> {{vm.userYearData[$index+1]}} </md-tooltip>{{$index+1}}</md-button>
        <md-button layout-fill class="md-raised maindiv__button" ng-click="vm.showAdd($event, ($index+2))" id="cell-year_{{$index+2}}"><md-tooltip md-direction="top" md-delay="5" ng-if="vm.userYearData[$index+2]"> {{vm.userYearData[$index+2]}} </md-tooltip> {{$index+2}} </md-button>
        <md-button layout-fill class="md-raised maindiv__button">{{$index+3}}</md-button>
        <md-button layout-fill class="md-raised maindiv__button">{{$index+4}}</md-button>
        <md-button layout-fill class="md-raised maindiv__button">{{$index+5}}</md-button>
        <md-button layout-fill class="md-raised maindiv__button">{{$index+6}}</md-button>
        <md-button layout-fill class="md-raised maindiv__button">{{$index+7}}</md-button>
        <md-button layout-fill class="md-raised maindiv__button">{{$index+8}}</md-button>
        <md-button layout-fill class="md-raised maindiv__button">{{$index+9}}</md-button>
        <md-button layout-fill class="md-raised maindiv__button">{{$index+10}}</md-button>
      </div>
    </div>
  </div>

  <md-card layout layout-sm="row" layout-padding class="maincard">
    <h2>How do I get a key?</h2>
    <p>
      Fill out some quick details, and request yourself an API key!
    </p>
  </md-card>

  <md-card layout-padding class="maincard">
    <div ng-controller="FormCtrl">
      <h2> Request a Key </h2>
      <form name="userForm">

        <div layout layout-sm="column">
          <md-input-container flex>
            <label>First name</label>
            <input ng-model="user.firstName">
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input ng-model="user.lastName">
          </md-input-container>
        </div>

        <md-input-container flex>
          <label>Company</label>
          <input ng-model="user.company">
        </md-input-container>

        <md-input-container flex>
          <label>Phone</label>
          <input ng-model="user.phone">
        </md-input-container>

        <section layout="row" layout-sm="column">
          <md-button class="md-raised md-primary">Request Key</md-button>
        </section>
      </form>
    </div>
  </md-card>

  <md-card layout layout-sm="column" layout-padding class="maincard">
    <h2>Keymaker</h2>
    <p class="lead">
      <img src="assets/images/keymaker.jpg" class="cardnail"><br>
      We do only what we're meant to do.
    </p>
  </md-card>


</div>

<footer>
  <md-toolbar layout="row" layout-align="center center">
    <p>With ♥ from doc</p>
  </md-toolbar>
</footer>
