@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.cardnail {
  height: 150px;
  width: 180px;
}

.thumbnail img.pull-right {
  width: 50px;
}

/*md-toolbar.md-default-theme {
  background-color: #97C766;
}*/

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;
}

section.jumbotron h1 {
  font-size: 3em;
}

.techs {
  display: flex;
  flex-flow: row wrap;
}

/*.techs md-card {
  width: 30%;
}

.techs md-card img.pull-right {
  float: right;
  width: 50px;
}*/

.maincard {
  max-width: 70rem;
}


/* ---- my stuff ----- */

.maindiv {
  max-width: 36rem;
  background-color: #4DB6AC;
}

.layoutdiv {
  padding: 2rem;
}

.maindiv__button {
  margin: 0.4rem;
  line-height: 2rem;
  min-width: 2rem;
}

.dialog__content {
  padding: 0.2rem 0.6rem 0 1rem;
}

.dialog__content__textarea {
  margin: 0 0 0 0;
}

.dialog__content__inputFields {
  width: 244px;
  height: 74px;
}

.dialog__content__range--hint {
  position: fixed;
  margin-top: 20px;
}

.dialog__content__input {
/*  margin: 1.5rem 0 0.3rem 0;
  padding: 0;*/
}

.dialog__content__range {
/*  margin: 1.5rem 0 0.3rem 0;
  padding: 0;*/
}

.dialog__icon--div {
  margin-top: -0.2rem;
  margin-right: 0;
}

.dialog__icon--close {
  min-height: 0.2rem;
  min-width: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}

/* ---- Year View : Legenda ----- */

.year__legenda__top {
  /*margin-top: 8px;*/
}

.year__legenda__top--text {
  /*height: 40px !important;*/
  font-family: Comic Sans MS;
  font-size: 38px;
  color: #0080ff;
  text-shadow: 1px 1px 1px #829bc3;
}

.year__legenda__top--icon {
  padding-top: 6px;
  font-size: 44px;
  color: #0080ff;
  text-shadow: 1px 1px 1px #829bc3;
}

.year__legenda__bottom {
  margin-bottom: 8px;
}

.year__legenda__bottom--text {
  font-family: Comic Sans MS;
  font-size: 38px;
  color: #902683;
  text-shadow: 1px 1px 1px #bd55c3;
}

.year__legenda__bottom--icon {
  font-size: 44px;
  color: #902683;
  text-shadow: 1px 1px 1px #bd55c3;
}

.year__legenda__top--divider__div {
  height: 0;
}

.year__legenda__top--divider {
  text-align: center;
  line-height: 0.1em;
  margin: 10px 0 20px;
  border-bottom: 2px solid #ff5d1a;
  width: 434px;
}
.year__legenda__top--divider--text {
  font-family: Comic Sans MS;
  font-size: 18px;
  color: #ff5d1a;
  background: #fff;
  padding: 0 10px;
}

.year__legenda__liner {
  position: absolute;
}

.year__legenda__liner--divider {
  text-align: center;
  line-height: 0.1em;
  border-bottom: 2px solid;
  width: 30px;
}

.year__legenda__liner--text {
  font-family: Comic Sans MS;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 5px;
}

/* ---- Year View : Legenda : animations ----- */

.fade {
  transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}



/* ---- Dialog: md-fab-speed-dial ----- */

.dialog__fab--button {
  height: 2.5rem;
  min-width: 2.5rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.dialog__fab--icon {
  font-size: 2.5rem;
}

.dialogFabIconRed { color: red }
.dialogFabIconBlue { color: blue }
.dialogFabIconGreen { color: green }
.dialogFabIconPink { color: pink }
.dialogFabIconOrange { color: orange }

.md-button.md-fab {
  width: 2rem;
  height: 2rem;
  border-radius: 30%;
}

.md-button.md-fab.md-mini {
  width: 2rem;
  height: 2rem;
}

.md-fab-speed-dial.md-fab-bottom-right {
  right: 2rem;
  bottom: 2.62rem;
}



