@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.cardnail {
  height: 150px;
  width: 180px;
}

.thumbnail img.pull-right {
  width: 50px;
}

md-toolbar.md-default-theme {
  background-color: #97C766;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;
}

section.jumbotron h1 {
  font-size: 3em;
}

.techs {
  display: flex;
  flex-flow: row wrap;
}

.techs md-card {
  width: 30%;
}

.techs md-card img.pull-right {
  float: right;
  width: 50px;
}

.maincard {
  max-width: 70rem;
}


/* ---- my stuff ----- */

.maindiv {
  max-width: 36rem;
  background-color: #4DB6AC;
}

.layoutdiv {
  padding: 2rem;
}

.maindiv__button {
  margin: 0.4rem;
  line-height: 2rem;
  min-width: 2rem;
}


.dialog__content {
  padding: 0.2rem 0.6rem 0 1rem;
}

.dialog__content__textarea {
  margin: 0 0 0 0;
}

.dialog__content__input {
  margin: 1.5rem 0 0.3rem 0;
  padding: 0;
}

.dialog__icon--div {
  margin-top: -0.2rem;
  margin-right: 0;
}

.dialog__icon--close {
  min-height: 0.2rem;
  min-width: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}




/* ---- Dialog: md-fab-speed-dial ----- */

.md-button.md-fab {
  width: 2rem;
  height: 2rem;
  border-radius: 30%;
}

.md-button.md-fab.md-mini {
  width: 2rem;
  height: 2rem;
}

.md-fab-speed-dial.md-fab-bottom-right {
  right: 2rem;
  bottom: 2.62rem;
}



/*
.fabSpeedDialdemoMoreOptions .md-fab-top-right {
  top: 16px; }
@media (max-device-width: 600px) {
  .fabSpeedDialdemoMoreOptions .md-fab-top-right {
    top: 9px;
    right: 9px; } }
.fabSpeedDialdemoMoreOptions .md-fab.demo-fab.trigger-fab:hover, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.trigger-fab.md-focused, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab:hover, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab.md-focused {
  background-color: #333; }
.fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab {
  background-color: #aaa; }
.fabSpeedDialdemoMoreOptions md-content div[flex="50"] {
  padding: 15px; }
.fabSpeedDialdemoMoreOptions md-fab-speed-dial {
  margin-top: 89px; }
.fabSpeedDialdemoMoreOptions md-fab-speed-dial md-fab-trigger {
  transition: all 0.3s ease-in-out;
  transform: scale(1); }
.fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-scale.ng-hide-add.ng-hide-add-active, .fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-fling.ng-hide-add.ng-hide-add-active {
  display: flex !important; }
.fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-scale.ng-hide md-fab-trigger, .fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-fling.ng-hide md-fab-trigger {
  transform: scale(0); }
.fabSpeedDialdemoMoreOptions .intro {
  padding-left: 5px; }*/
